<IfModule mod_rewrite.c>
# Activar RewriteEngine
RewriteEngine on
RewriteBase /MVC-Test
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
# Reescribir la URL solicitada por el usuario
#   Entrada:  ID-NOMBRE
#   Salida: pruducto.php?id=ID
RewriteRule ^(\w+)/(\w+)/?$ index.php?controller=$1&action=$2
RewriteRule ^(\w+)/(\w+)/(\d)/?$ index.php?controller=$1&action=$2&id=$3
</IfModule>
